@import url(import.css) (max-width: 768px);

@media (max-width: 480px) {
    #nadpis {
        color: red;
    }
}

#third {
    width: 100%;
}

.imgs {
    width: 100px;
}

@media (max-width:1280px) {
    .imgs{
        display: block;
        width: 100%;
    }
}