@import 'vars.scss';
@import 'func.scss';

body {
    margin: 0;
    padding: 0;
    background-color: rgb(175, 93, 252);
}

@mixin thisIsANormalName {
    border-radius: 5px;
}

%formHover{
    border-radius: 15px;
}

header {
    width: 100%;
    height: 100px;
    background-image: url('/img/bgheader.png');
    background-color: $block_color;
    background-size: 800px;
    background-position: 80px;
    img {
        height: 100px;
    }
    #menu{
        float: right;
        margin-top: 10px;
        ul {
            display: inline-block;
            .m_items {
                border: 2px solid $purple;
                background-color: $purple;
                border-radius: 10px;
                list-style: none;
                width: 100px;
                margin: 0 20px;
                text-align: center;
                padding: 15px;
                display: inline-block;
                &:hover {
                    background-color: $ppurple;
                }
                .m_link {
                    text-decoration: none;
                }
            }
        }
    }
}


aside {
    float: right;
    width: 20%;
    margin-right: 20px;
    #other_menu {
        h4 {
            text-align: center;
        }
        #other_menu_items {
            article{
                margin-bottom: 35px;
                img {
                    width: 100px;
                    float: left;
                }
                p {
                    margin-left: 120px;
                }
            }
        }
    }

    form {
        h4 {
            text-align: center;
        }
        p{
            height: 50px;
            label {
                input {
                    @include thisIsANormalName;
                    float: right;
                    &:hover {
                        @extend %formHover;
                    }
                }
                #review {
                    height: 50px;
                }
            }
        }
        button {
            display: block;
            @include thisIsANormalName;
            background-color: $block_color;
            margin: 10px auto;
            padding: 10px;
            &:hover {
                background-color: $ppurple;
            }
        }
    }
}

section {
    width: 80%;
}

footer {
    height: 55px;
    background-color: $block_color;
    p {
        padding: 15px;
        text-align: center;
    }
}

#first_section {
    h1 {
        text-align: center;
    }
    #first_p_div {
        text-align: center;
        .first_p_section {
            display: inline-block;
            width: 20%;
            height: 200px;
            padding: 15px;
            margin-top: 0;
            background-color: $block_color;
            border-radius: 5px;
        }
        #midp {
            margin: 25px 100px;
            margin-top: 0;
        }
    }
}

 
#second_section {
    h1 {
        text-align: center;
        margin-top: 0;
    }
    #second_section_img {
        text-align: center;
        margin-bottom: 55px;
    }
    img{
        width: 200px;
        height: 170px;
        margin: 0 40px;
        border-radius: 5px;
    }
}

h1 {
    @include text_style($base_size, $scale-factor);
}